body {
    background-color: #E7DFD8;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    color: #101010;
}
h2, p {
    margin: 0px;
    padding: 0px;

}
a {
    text-decoration: none;
    display: inline-block;
}
span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.container {
    width: 1119px;
    margin: 0 auto;
}

.mikky {
    padding: 99px 0px 99px 0px;
}
.mikky-container {
    display: flex;
    gap: 107px;
}
.mikky-subtitle {
    display: flex;
    gap: 30px;
    font-size: 19px;
    line-height: 36px;
    align-items: center;
    padding-bottom: 28px;
}
.mikky-subtitle span {
    background-color: #B99FEA;
}
.mikky-title {
    font-size: 35px;
    line-height: 45.63px;
    margin-bottom:30px ;
    letter-spacing: 1px;
    font-weight: 400;
}
.mikky-text {
    font-size: 14px;
    line-height: 22.08px;
    margin-bottom:35px;
    text-shadow: 0px 4px 4px 0px #00000040 ;
}
.mikky-link {
    padding: 10px 20px;
    background-color: #B99FEA;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;
    
}

.koko {
    padding: 99px 0px 99px 0px;
}
.koko-container {
    display: flex;
    gap: 107px;
}
.koko-subtitle {
    display: flex;
    gap: 30px;
    font-size: 19px;
    line-height: 36px;
    align-items: center;
    padding-bottom: 28px;
}
.koko-subtitle span {
    background-color: #EBA789 ;
}
.koko-title {
    font-size: 35px;
    line-height: 45.63px;
    margin-bottom:30px ;
    letter-spacing: 1px;
    font-weight: 400;
}
.koko-text {
    font-size: 14px;
    line-height: 22.08px;
    margin-bottom:35px;
}
.koko-link {
    padding: 10px 20px;
    background-color: #EBA789;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;
    
}
.moeana {
    padding: 99px 0px 99px 0px;
}
.moeana-container {
    display: flex;
    gap: 107px;
}
.moeana-subtitle {
    display: flex;
    gap: 30px;
    font-size: 19px;
    line-height: 36px;
    align-items: center;
    padding-bottom: 28px;
}
.moeana-subtitle span {
    background-color: #96DBC6;
}
.moeana-title {
    font-size: 35px;
    line-height: 45.63px;
    margin-bottom:30px ;
    letter-spacing: 1px;
    font-weight: 400;
}
.moeana-text {
    font-size: 15px;
    line-height: 22.08px;
    margin-bottom:35px;
}
.moeana-link {
    padding: 10px 20px;
    background-color: #96DBC6;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;  
}