body{
    background-color: #E7DFD8;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif; 
    color: #101010;
}
.h2, p{
    
    margin: 0px;
    padding: 0px;
}
.a{
    text-transform: none;
    display: inline-block;

}
.container{
    width: 1119px;
    margin: 0 auto;
    padding: 0 auto;
}
.mikky{
    padding: 99px 0px 99px 0px;
}

span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #B99FEA;
}

.mikky-container{
    display: flex;
    gap: 107px;
}

.mikky-subtitle{
 display: flex;
 GAP: 30px;
 font-size: 19px;
 line-height: 36px;
}

.mikky-subtitle span{
    background-color: #B99FEA;
}
.mikky-title{
    font-size: 35px;
    line-height: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.mikky-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px  #00000040;
}
.mikky-link {
    padding: 10px 20px;
    background-color: #B99FEA;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;
    
}

.container{
    width: 1119px;
    margin: 0 auto;
    padding: 0 auto;
}
.koko{
    padding: 99px 0px 99px 0px;
}

span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #EBA789;
}

.koko-container{
    display: flex;
    gap: 107px;
}

.koko-subtitle{
 display: flex;
 GAP: 30px;
 font-size: 19px;
 line-height: 36px;
}

.koko-subtitle span{
    background-color: #EBA789;
}
.koko-title{
    font-size: 35px;
    line-height: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.koko-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px  #00000040;
}
.a{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #B99FEA;
    border-radius: 8px;
    line-height: 20. 08px;
    font-size: 14px;
    letter-spacing: 0%;
}
.koko-link {
    padding: 10px 20px;
    background-color: #EBA789;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;
    
}

body{
    background-color: #E7DFD8;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif; 
    color: #101010;
}
.h2, p{
    
    margin: 0px;
    padding: 0px;
}
.a{
    text-transform: none;
    display: inline-block;

}
.container{
    width: 1119px;
    margin: 0 auto;
    padding: 0 auto;
}
.moeana{
    padding: 99px 0px 99px 0px;
}

span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #96DBC6;
}

.moeana-container{
    display: flex;
    gap: 107px;
}

.moeana-subtitle{
 display: flex;
 GAP: 30px;
 font-size: 19px;
 line-height: 36px;
}

.moeana-subtitle span{
    background-color: #96DBC6;
}
.moeana-title{
    font-size: 35px;
    line-height: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.moeana-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px  #00000040;
}
.moeana-link {
    padding: 10px 20px;
    background-color: #96DBC6;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22.08px;
    color: #000000;
}