body{
    background-color: #E7DFD8;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif; 
    color: #101010;
}
h2, p{
    
    margin: 0px;
    padding: 0px;
}
.a{
    text-transform: none;
    display: inline-block;
    text-decoration: none;
}
.container{
    width: 1119px;
    margin: 0 auto;
    padding: 0 auto;
}
.circle-section{
    display: flex;
}
.mikky{
    padding: 112px 0px 112px 0px;
}

span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #B99FEA;
}

.mikky-container{
    display: flex;
    gap: 107px;
}

.mikky-subtitle{
 display: flex;
 gap: 30px;
 font-size: 19px;
 line-height: 1.58;
 align-items: center;
}

.mikky-subtitle span{
    background-color: #B99FEA;
}
.mikky-title{
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.mikky-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.58;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px  #00000040;
}
.mikky-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B99FEA;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.37;
    color: #000000;
    
}

.koko{
    padding: 112px 0px 112px 0px;
}

span {
    font-size: 38px;
    line-height: 0.63;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #EBA789;
}

.koko-container{
    display: flex;
    gap: 107px;
}

.koko-subtitle{
 display: flex;
 gap: 21px;
 font-size: 19px;
 line-height: 1.89;
    align-items: center;
}

.koko-subtitle span{
    background-color: #EBA789;
}
.koko-title{
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.koko-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.58;
    letter-spacing: 0%;
    /* text-shadow: 0px 4px 4px  #00000040; */
}
.koko-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EBA789;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.37;
    color: #000000;
    
}

.moeana{
    padding: 112px 0px 112px 0px;
}

span {
    font-size: 38px;
    line-height: 1.58;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #96DBC6;
}

.moeana-container{
    display: flex;
    gap: 107px;
}

.moeana-subtitle{
 display: flex;
 gap: 21px;
 font-size: 19px;
 line-height: 1.89;
    align-items: center;
}

.moeana-subtitle span{
    background-color: #96DBC6;
}

.moeana-title{
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.moeana-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0%;
    /* text-shadow: 0px 4px 4px  #00000040; */
}
.moeana-link {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 112px;
    background-color: #96DBC6;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.37;
    color: #000000;
}